.statsNav:hover,
.toggleClose:hover {
  cursor: pointer;
}

.stats {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  min-width: 20px;
  background-color: transparent;
  z-index: 999;
}
