/* AuthForms.css for Login and Sigup*/

.auth-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.auth-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-bottom: 10px;
}

.auth-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.auth-form button {
    padding: 10px 20px;
    color: #283cee;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.auth-form .btn-primary {
    background-color: #007bff;
}

.auth-form .btn-primary:hover {
    background-color: #0056b3;
}

.auth-form .btn-success {
    background-color: #28a745;
}

.auth-form .btn-success:hover {
    background-color: #218838;
}